.app {
  font-weight: bold; 
  font-size: 30px; 
  -webkit-background-clip: text; 
  -moz-background-clip: text; 
  background-clip: text; 
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:flex-start;
  margin:auto;
  background: #032541;
}

.App {
  font-weight: bold;  
  -webkit-background-clip: text; 
  -moz-background-clip: text; 
  background-clip: text; 
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:flex-start;
  margin:auto;
  background: #032541;
}