.container {
  position: relative;
  width: 100%;
  height: auto;
}

.search-button {
  height: 30px;
  width: 5em;
}

.map-image {
  width: 100vw;
  height: auto;
  position: relative;
  display: block;
}

.map-marker {
  height: 25px;
  width: auto;
  position: absolute;
  margin-top: -25px;
  margin-left: -13px;
}

.map-c {
  height: 1px;
  width: auto;
  position: absolute;
  z-index: 100;
}
