.app-header {
	/* color: #000000; */
	display: grid;
	grid-template-columns: 104px 150px;
	grid-gap: 10px;
	font-size: 22px;
	margin: 6px;
	grid-template-areas:
		'floor  building'
		'cabinet  cabinet';
}

.floor-select {
	grid-area: floor;
}

.floor-select select,
.building-select select {
	font-size: 15pt;
	/* background: #ffffff; */
	height: 24px;
	/* color: rgb(0, 0, 0); */
}

.building-select {
	grid-area: building;
	justify-self: end;
}

.cabinet-select {
	display: flex;
	justify-content: space-between;
	height: 24px;
	grid-area: cabinet;
}

.cabinet-select input {
	width: 110px;
	height: 25px;
	/* background: #000000; */
	border: none;
	font-size: 15pt;
	float: left;
	padding-left: 35px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	/* color: #fff; */
}

.cabinet-select span {
	display: block;
	align-self: center;
}

.floor-edit {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.floor-edit label {
	height: 22px;
	margin: 5px;
	font-size: 16px;
	display: block;
}

.floor-edit input {
	font-size: 14px;
	width: 70px;
	height: 15px;
}

.cabinet-edit {
	grid-template-rows: 30px 30px;
	/* background-color: #2fe7ff; */
	width: 100%;
	height: 75px;
	grid-gap: 10px;
	font-size: 25px;
}

/* .cabinet-edit input{
  background: #000000;
  color: rgb(0, 0, 0);
} */

.cabinet-edit input[type='submit'] {
	font-size: 20px;
	/* background: #002a56; */
	/* color: #2fe7ff; */
	font-weight: bold;
}

.cabinet-edit input[type='submit']:hover {
	/* background: #259ff5; */
	/* color: #000000; */
	font-weight: bold;
}

.cabinet-edit input[id='description'] {
	width: 200px;
}

.cabinet-edit input[id='cabinet'] {
	width: 90px;
}

.link-insert {
	/* color: #2fe7ff; */
	font-size: 30px;
}

.link-insert input {
	/* background: black; */
	/* color: #fff; */
	width: 500px;
}

.edit-button {
	margin-left: 50px;
}

.cabinet-edit label {
	margin-left: 10px;
	margin-right: 10px;
}

.logout-button {
	position: absolute;
	right: 10px;
	top: 10px;
}
