.app-header {
  display: grid;
  grid-template-columns: 200px 200px;
  grid-gap: 10px;
  font-size: 22px;
  width: 400px;
  margin: 20px;
  grid-template-areas:
    'floor  building'
    'cabinet  cabinet';
}

.floor-select {
  grid-area: floor;
}

.floor-select select,
.building-select select {
  height: 24px;
}

.building-select {
  grid-area: building;
  justify-self: end;
}

.cabinet-select {
  display: flex;
  justify-content: space-between;
  height: 24px;
  grid-area: cabinet;
}

.cabinet-select input {
  margin: 0;
}

.cabinet-select span {
  display: block;
  align-self: center;
}

.app-header-edit {
  display: flex;
  flex-direction: column;
}

.floor-edit {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 10px;
}

.floor-edit label {
  margin-left: 10px;
  margin-right: 10px;
}

.floor-edit input[type='submit'] {
  margin-left: 10px;
}

.cabinet-edit {
  display: grid;
  grid-template-rows: 30px 30px;
  margin: 10px;
  background-color: rgb(255, 253, 153);
  width: 350px;
}

.edit-button {
  margin-left: 50px;
}

.cabinet-edit label {
  margin-left: 10px;
  margin-right: 10px;
}
