.edited-map-image {
  border: 2px solid black;
  height: auto;
  position: relative;
  display: block;
}

/* .container-edit {
  position: relative;
}

.map-marker-edit {
  height: 25px;
  width: auto;
  position: absolute;
  margin-top: -25px;
  margin-left: -13px;
} */
